#delivery_note_div {
	display: none;
	border: 0;
	outline: 0;
}
/*#delivery_note{
	box-shadow: 0 0 3px lightgrey;
}*/
.company_data{
	font-size: 11px;
}
.company_data p{
	margin-bottom: 0;
}
.headline {
	letter-spacing: 5px;
}
.delivery_note_footer div p {
	margin-top: 200px;
	margin-bottom: 0;
}